<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title><%=title %></title>
  <!-- Links -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
  <!--Font awesome-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link href="css/main.css" rel="stylesheet">
</head>
<body>
 <div class="main-content">
  <div class="right-side container">
    <div class="row justify-content-center">
      <div class="col-md-4">
          <h2 class="right-side-header">SIGN IN</h2>
          <div>
            <ul>
              <li style="color: #3b5998"><i class="fab fa-facebook-square"></i></li>
              <li style="color: #ea4335"><i class="fab fa-google-plus-square"></i></li>
              <li style="color: #0e76a8"> <i class="fab fa-linkedin"></i></li>
            </ul>
            <div class="mt-5">
              <hr />
              <p class="hr-text">Or Use</p>
    
            </div>
            <form class="box" method = 'post' action ='/signin'>
              <%if(locals.success === true){%>
                <div class="alert alert-success">
                    <strong><%=message %></strong>
                </div> 
              <%}else if(locals.success ===false){%>
                <div class="alert alert-danger">
                  <strong><%=message %></strong>
              </div>
              <%}%>
              <div class="form-group" >
                  <input type="email" name = "email" class="form-control" id="exampleInputText1" aria-describedby="textlHelp" placeholder="Enter Email">
                </div>
              <div class="form-group">
                <input type="password" name = "password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-primary">SIGN IN</button>
            </form> 
           
      </div>
      </div>
  
  </div>
</div>
<div class=" main-content">
  <div class="left-side">
    <h3 class="header-text">Hi, There</h3>
    <p class="p-text">you do not have an account with us?</p>
    <p class="p-text">click the sign up button</p>
    <a href="/signup"><button class="btn">SIGN UP</button></a>
  </div>
    </div>
</body>
</html>