body {
  padding: 0;
  margin: 0;
}
.md-form {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
#inputMDEx:focus {
  color: #177c07;
}
.md-form input:not([type]):focus:not([readonly]) + label,
.md-form input[type="date"]:not(.browser-default):focus:not([readonly]) + label,
.md-form
  input[type="datetime-local"]:not(.browser-default):focus:not([readonly])
  + label,
.md-form
  input[type="datetime"]:not(.browser-default):focus:not([readonly])
  + label,
.md-form
  input[type="email"]:not(.browser-default):focus:not([readonly])
  + label,
.md-form
  input[type="number"]:not(.browser-default):focus:not([readonly])
  + label,
.md-form
  input[type="password"]:not(.browser-default):focus:not([readonly])
  + label,
.md-form input[type="search-md"]:focus:not([readonly]) + label,
.md-form
  input[type="search"]:not(.browser-default):focus:not([readonly])
  + label,
.md-form input[type="tel"]:not(.browser-default):focus:not([readonly]) + label,
.md-form input[type="text"]:not(.browser-default):focus:not([readonly]) + label,
.md-form input[type="time"]:not(.browser-default):focus:not([readonly]) + label,
.md-form input[type="url"]:not(.browser-default):focus:not([readonly]) + label,
.md-form textarea.md-textarea:focus:not([readonly]) + label {
  color: #177c07;
}
.md-form input:not([type]):focus:not([readonly]),
.md-form input[type="date"]:not(.browser-default):focus:not([readonly]),
.md-form
  input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="datetime"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="email"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="number"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="password"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="search-md"]:focus:not([readonly]),
.md-form input[type="search"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="tel"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="text"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="time"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="url"]:not(.browser-default):focus:not([readonly]),
.md-form textarea.md-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #177c07;
  box-shadow: 0 1px 0 0 #177c07;
}
.btn {
  margin: 0.5px;
  border-radius: 10px;
  background-color: #177c07;
  color: aliceblue;
}
.header-text {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}
.blue-gradient {
  background: #177c07 url("../img/auto-sum4.png")  !important;
}
.btn-outline-white {
  margin-top: 5px;
}
.main-content {
  margin-top: 150px;
  background: #fff;
}
.search-card {
  background: #fff;
  border: 1px solid #c4c4c4;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 10px;
}
.search-card:hover {
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.src-button{
    border: 1px solid #177c07;
    background: none;
    color: #177c07;
    padding: 5px;
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 20px;
   
}
.src-button1{
  background: none;
  color: #177c07;
  padding: 5px;
  margin-top: 50px;
  margin-left: 20px;
  cursor: pointer;
}
.error-body{
  background: url(../img/auto-sum4.png);
  height: 100vh;
}
.error-template {
  margin-top: 50px;
  padding: 40px 15px;
  text-align: center;
}
.error-actions {
  margin-top:15px;
  margin-bottom:15px;
}
.error-actions .btn {
   margin-right:10px; 
  }